.barrios-latinos-section {
  width: 100%;
  min-height: 450px;

  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
}

.splash-art{
  min-width: 100%;
  object-fit: fill;
}

