.barrios-latinos-section {
  width: 100%;
  min-height: 450px;

  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
}

.splash-art{
  min-width: 100%;
  object-fit: fill;
}

.survey-container{
  position: absolute;
  right: 0px;
  left: 0px;
  margin-top: 28%;
  height: 50px;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 20;
}

.survey-text{
  color: rgb(255, 230, 0);
  font-size: 15px;
  position: relative;
  font-size: 10px;
  top: -45.5px;
  transition: color 0.3s ease;
  z-index: 2;
  
}

.survey-image{
  height: 70px;
  position: relative;
  width: auto;
  left: 0px;
  
}

.survey-highlight{
  height: 64px;
  position: absolute;
  width: auto;
  opacity: 0;
  transition: opacity 0.3s ease;
  pointer-events: none;
  z-index: 1;
    top: -13px;
  -webkit-transition: opacity 0.3s ease;
  -moz-transition: opacity 0.3s ease;
  -ms-transition: opacity 0.3s ease;
  -o-transition: opacity 0.3s ease;
}

@media (max-width: 1100px){
  .survey-container{
    margin-top: 32%;
  }
      .survey-text{
    font-size: 12px;
    top: -45.5px;
  }
}


@media (max-width: 1000px){
  .survey-container{
    margin-top: 60%;
  }
      .survey-text{
    font-size: 12px;
    top: -45.5px;
  }
}


@media (max-width: 600px){
  .survey-container{
    margin-top: 65vw;
  }


}


@media (max-width: 435px){
  .survey-container{
    margin-top: 73vw;
  }
  
}

@media (max-width: 350px){
  .survey-container{
    margin-top: 80vw;
  }
}




@media (max-width: 1000px) {
  .survey-highlight{
    height: 40px;
    top: -8px;

  }

}

@media (min-width: 1000px) {
  .survey-image{
    margin-top: 20px;
    height: 80px;
  }
  .survey-text{
    font-size: 14px;
    top: -55.5px;
  }
    .survey-highlight{
    height: 50px;
    top: -4px;
  }

}


@media (min-width: 1250px) {
  .survey-image{
    height: 105px;
  }
  .survey-text{
    font-size: 16px;
    top: -69px;
  }
    .survey-highlight{
    height: 64px;
    top: -13px;
  }
  
}



.survey-container:hover .survey-highlight{
  opacity: 1;
}

.survey-container:hover .survey-text{
  color: white;
}