.barrios-latinos-section {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #000;
  position: relative;
  overflow: hidden;
}

.barrios-latinos-section iframe {
  width: 100%;
  height: 100%;
}
