.buyTickets-section{
  width: 100%;
  background: #fff;
  text-align: center;
  height: 30vw;
}


.buyTickets-container{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  flex-direction: column;
  padding-left: 45px;
  padding-right: 45px;
  min-height: 30vw;
  background-size: 100% auto;
  object-fit: contain;
  overflow: clip;
  overflow-clip-margin: content-box;
}

.buyTickets-text{
  font-family: "guildhall-wide", sans-serif;
  color: white;

  font-size: 34px;
}

.buyTickets-Image{
  height: 80px;
}

.buyTickets-buttonText{
  position: absolute;
  font-family: "guildhall-wide", sans-serif;
  color: #EDCC00;
  margin-top: 110px;
    font-size: 16px;
}




@media screen and (max-width: 1100px) {
  .buyTickets-text{
    font-size: 2.5vw;
  }
  .buyTickets-Image{
    height: 9vw;
  }
  .buyTickets-buttonText{

    margin-top: 8.5vw;
    font-size: 1.7vw;
  }
}

@media screen and (max-width: 750px) {

  .buyTickets-buttonText{

    margin-top: 9.5vw;

  }
}

@media screen and (max-width: 429px) {
  .buyTickets-text{
    font-size: 12px;
  }
  .buyTickets-Image{
    height: 64px;
  }
  .buyTickets-buttonText{
    margin-top: 45px;
    font-size: 12px;
  }
  .buyTickets-container {
    min-height: 183px;
    background-size: auto 100% !important;
  }
  .buyTickets-section{
    height: 183px;
  }

}

