.buyTickets-highlight{
  position: absolute;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.3s ease;
  z-index: 11;
  padding-top: 22px;
  height: 77px;
  width: 82%;
  -webkit-transition: opacity 0.3s ease;
  -moz-transition: opacity 0.3s ease;
  -ms-transition: opacity 0.3s ease;
  -o-transition: opacity 0.3s ease;
}

#button-buyTickets:hover .buyTickets-highlight{
  opacity: 1;
}

#button-buyTickets:hover .buyTickets-buttonText{
  color: white;
}

.buyTickets-section{
  width: 100%;
  background: #d6ba00;
  text-align: center;
  height: 250px;

}


.buyTickets-container{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  flex-direction: column;
  padding-left: 45px;
  padding-right: 45px;
  min-height: 250px;
  background-size:   100% ;
  object-fit: contain;
  overflow: clip;
  overflow-clip-margin: content-box;
}

.buyTickets-background{
  width: 100%;
  height: 400px;
  object-fit: cover;
  position: absolute;
  z-index: 10;
}

.buyTickets-background2{
  width: 100%;
  height: 430px;
  object-fit: cover;
  position: absolute;
  z-index: 10;
}

.buyTickets-text{
  font-family: "guildhall", sans-serif;
  color: white;

  font-size: 40px;
}

.buyTickets-Image{
  height: 90px;
  position: relative;

}

.buyTicketsText-Image{
  width:  90%;
  position: relative;
  bottom: -20px;
  max-width: 300px;
}

.buyTickets-buttonText{
  position: relative;
  font-family: "guildhall-wide", sans-serif;
  color: #EDCC00;
  font-size: 16px;
  bottom: 35px;
  position: absolute;
  z-index: 11;
}


.buyTickets-buttonText2{
  position: relative;
  font-size: 16px;
  bottom: 55px;
}

@media screen and (max-width: 2000px){
    .buyTickets-buttonText{
    bottom: 30px;
  }
}

@media screen and (max-width: 1000px) {
.buyTickets-container{
  background-size: 100% auto;
}
.buyTickets-background2{
  height: 250px;
}
}

@media  (min-width: 1600px) {
  .buyTickets-background{
    height: auto;
  }
}



@media screen and (max-width: 1100px) {
  .buyTickets-Image{
    height: 9vw;
  }
  .buyTickets-buttonText{
    font-size: 1.7vw;
  }
  .buyTickets-buttonText{
    bottom: 3vw;
  }
  .buyTickets-buttonText2{
    bottom: 10vw;
  }
}


@media screen and (max-width: 1000px) {
  .buyTickets-text{
    font-size: 20px;
    
  }
  .buyTickets-Image{
    height: 64px;
  }
  .buyTickets-buttonText{
    bottom: 18px;
    font-size: 12px;
  }

  .buyTickets-buttonText2{
    bottom: 50px;
  }

  .buyTickets-container {
    min-height: 183px;
    background-size: auto 100% !important;
  }
  .buyTickets-background {
    height: 50vw;
    min-height: 280px;
    width: 100%;
  }
  .buyTickets-section{
    height: 183px;
  }

}

@media screen and (min-width: 700px) {
  .buyTicketsText-Image{
    max-width: 400px;
    
  }
}



@media screen and (max-width: 370px) {
    .buyTickets-text{
    font-size: 16px;
    
  }
}

@media screen and (max-width: 400px) {
    .buyTickets-text{
    font-size: 17px;
    
  }
}
