.buyTickets-section{
  width: 100%;
  background: #d6ba00;
  text-align: center;
  height: 250px;
  
}


.buyTickets-container{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  flex-direction: column;
  padding-left: 45px;
  padding-right: 45px;
  min-height: 250px;
  background-size:   100% ;
  object-fit: contain;
  overflow: clip;
  overflow-clip-margin: content-box;
}

.buyTickets-background{
  width: 100%;
  height: 400px;
  object-fit: cover;
  position: absolute;
  z-index: 10;
}

.buyTickets-background2{
  width: 100%;
  height: 430px;
  object-fit: cover;
  position: absolute;
  z-index: 10;
}

.buyTickets-text{
  font-family: "guildhall", sans-serif;
  color: white;

  font-size: 40px;
}

.buyTickets-Image{
  height: 80px;
}

.buyTickets-buttonText{
  position: relative;
  font-family: "guildhall-wide", sans-serif;
  color: #EDCC00;
  font-size: 16px;
  bottom: 55px;
}


.buyTickets-buttonText2{
  position: absolute;
  font-family: "guildhall-wide", sans-serif;
  color: #EDCC00;
  margin-top: 130px;
  font-size: 16px;
}

@media screen and (max-width: 1000px) {
.buyTickets-container{
  background-size: 100% auto;
}
.buyTickets-background2{
  height: 250px;
}
}

@media  (min-width: 1600px) {
  .buyTickets-background{
    height: auto;
  }
}



@media screen and (max-width: 1100px) {
  .buyTickets-Image{
    height: 9vw;
  }
  .buyTickets-buttonText{
    font-size: 1.7vw;
  }
  .buyTickets-buttonText{
    bottom: 6vw;
  }
}

@media screen and (max-width: 750px) {

}

@media screen and (max-width: 1000px) {
  .buyTickets-text{
    font-size: 20px;
    
  }
  .buyTickets-Image{
    height: 64px;
  }
  .buyTickets-buttonText{
    bottom: 45px;
    font-size: 12px;
  }

  .buyTickets-container {
    min-height: 183px;
    background-size: auto 100% !important;
  }
  .buyTickets-background {
    height: 50vw;
    min-height: 280px;
    width: 100%;
  }
  .buyTickets-section{
    height: 183px;
  }

}


@media screen and (max-width: 370px) {
    .buyTickets-text{
    font-size: 16px;
    
  }
}
