.calendario-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.calendario-content {
  position: relative;
  margin-bottom: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.calendario-image {
  max-width: 100%;
  height: auto;
  border-radius: 12px;
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.15);
  max-width: 600px;
}

.fecha-text {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
  color: rgb(0, 0, 0);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.fecha-text h2 {
  font-size: 2rem;
  margin: 0;
  font-weight: bold;
}

.fecha-display {
  font-size: 1.5rem;
  margin: 0.5rem 0 0 0;
}

.countdown-container {
  max-width: 800px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  align-content: center;
  position: relative;
  top: -5px;
}

.countdown-container h3 {
  font-size: 2rem;
  color: rgb(0, 0, 0);
  margin-bottom: 2rem;
  font-weight: bold;
}

.countdown {
  display: flex;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 5px;
  padding-left: 10px;
}

.countdown-item {
  border-radius: 12px;
  width: 60px;
  height: 60px;
  color: rgb(0, 0, 0);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url("../../assets/main/Button_Comprar\ Boletos.png");
  background-size: cover;
  background-position: center;
  background-size: auto 100%;
}

.countdown-container{
  display: flex;
  flex-direction: column;
}

.countdown-value {
  font-size: 25px;
  font-weight: bold;
  display: block;
  font-family: "guildhall-wide", sans-serif;
  color: #FFB838;
}

.countdown-label {
  font-size: 10px;
  margin-top: 0.5rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #000000;
  font-family: "guildhall-wide", sans-serif;
  position: relative;
  top: -15px;
}


.brush-text{
  display: flex;
  align-self: center;
  justify-content: center;
  flex-direction: column;
}