.calendario-section {
  width: 100%;
  padding: 4rem 2rem;
  text-align: center;
}

.calendario-content {
  position: relative;
  margin-bottom: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.calendario-image {
  max-width: 100%;
  height: auto;
  border-radius: 12px;
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.15);
  max-width: 600px;
}

.fecha-text {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.fecha-text h2 {
  font-size: 2rem;
  margin: 0;
  font-weight: bold;
}

.fecha-display {
  font-size: 1.5rem;
  margin: 0.5rem 0 0 0;
}

.countdown-container {
  max-width: 800px;
  margin: 2rem auto;
}

.countdown-container h3 {
  font-size: 2rem;
  color: white;
  margin-bottom: 2rem;
  font-weight: bold;
}

.countdown {
  display: flex;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 1.5rem;
}

.countdown-item {
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  border-radius: 12px;
  width: 60px;
  height: 60px;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.countdown-container{
  display: flex;
  flex-direction: column;
}

.countdown-value {
  font-size: 28px;
  font-weight: bold;
  display: block;
}

.countdown-label {
  font-size: 10px;
  margin-top: 0.5rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #f0f0f0;
}
