.calendario-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.calendario-content {
  position: relative;
  margin-bottom: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.calendario-image {
  max-width: 100%;
  height: auto;
  border-radius: 12px;
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.15);
  max-width: 600px;
}

.fecha-text {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
  color: rgb(0, 0, 0);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.fecha-text h2 {
  font-size: 2rem;
  margin: 0;
  font-weight: bold;
}

.fecha-display {
  font-size: 1.5rem;
  margin: 0.5rem 0 0 0;
}

.countdown-container {
  max-width: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
  position: relative;
  top: -15px;
}

.countdown-container h3 {
  font-size: 2rem;
  color: rgb(0, 0, 0);
  margin-bottom: 2rem;
  font-weight: bold;
}

.countdown {
  display: flex;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 5px;
  padding-left: 10px;
}

.countdown-item {
  margin-bottom: 10px;
  width: 55px;
  height: 55px;
  color: rgb(0, 0, 0);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 9px;
  background-color: #2B2D31;
  border-color: #FFB838;
  border-width: 1px;
  background-size: cover;
  background-position: center;
  background-size: auto 100%;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  -ms-border-radius: 9px;
  -o-border-radius: 9px;
}

.countdown-value {
  font-size: 25px;
  font-weight: bold;
  display: block;
  font-family: "guildhall-wide", sans-serif;
  color: #EDCC00;
}

.countdown-label {
  font-size: 10px;
  margin-top: 0.5rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #000000;
  font-family: "guildhall-wide", sans-serif;
  position: relative;
  top: -15px;
}


.brush-text{
  display: flex;
  align-self: center;
  justify-content: center;
  flex-direction: column;
}


.calendary-title{
  font-family: "guildhall-wide", sans-serif;
  color: white;
  font-size: 24px;
  position: relative;
  top: -40px;
}


.calendary-date{
  width: 150px;
  height: auto;
  position: relative;
  top: -45px;
}

.calendary-brush{
  width: 300px;
  height: 50px;
  overflow-y: visible;
  object-fit: cover;
  align-self: center;
  min-height: 50px;
}

@media (min-width: 1001px) {
  .calendary-brush{
    width: 550px;
    height: auto;
  }

  .calendary-title{
    font-size: 36px;
    top: -67px;
  }
  .calendary-date{
    width: 250px;
    top: -70px;
  }
  .countdown-value{
    font-size: 46px;
  }
  .countdown-item{
    height: 100px;
    width: 100px;
  }
  .countdown-label{
    font-size: 16px;
  }
  .countdown{
    gap: 15px;
  }
}