.footer-section {
  width: 100%;
  padding: 35px 25px;
  background: #1D1D1D;
}

.footer-content {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.footer-Title{
  color: #EDCC00;
  font-size: 14px;
  margin-bottom: 8px;
  font-family: "guildhall-wide", sans-serif;
}

/* Social Media Icons */
.social-media {
  display: flex;
  gap: 2rem;
  justify-content: center;
  align-items: center;
}

.social-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
}


/* Footer Bottom Section */
.footer-bottom {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
  padding-top: 16px;
}

.footer-text{
  color: #A6A6A6;
  font-size: 12px;
  text-align: center;
  line-height: 20px;
    font-family: "Inter", sans-serif;
}

.copyright {
  margin: 0;
  font-size: 0.9rem;
  color: #666;
}

.footer-links {
  display: flex;
  gap: 1.5rem;

  justify-content: center;
}

.footer-link-btn {
  background: none;
  border: none;
  color: #ffffff;
  font-size: 12px;
  cursor: pointer;
  text-decoration: none;
    font-family: "Inter", sans-serif;
}


/* Responsive Design */
@media (max-width: 768px) {
  .social-media {
    gap: 1.5rem;
  }


  .footer-links {
    gap: 1rem;
  }
}
