.locacion-section {
  width: 100%;

  background: white;
  text-align: center;
  
}

.graffitiTag-container {
  position: absolute;
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  overflow-x: clip;
  left: 0px;
  padding-top: 50px;
}

.graffitiTag{
  position: relative;
  width: 200px;
  height: 200px;
  opacity: 0.21;
  left: 85px;
}

.graffiti1{
  position: relative;
  top: 10%;
  left: 45vw;
  width: 20vw;
  min-width: 100px;
  height: auto;
  margin-bottom: 10%;
}

.graffiti-container{
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
  width: 100%;
}

.graffiti2{
  position: relative;
  top: 10%;
  right: 45vw;
  width: 25vw;
  min-width: 150px;
  height: auto;
  margin-bottom: 4%;
}




.locacion-section h2 {
  font-size: 2.5rem;
  margin-bottom: 3rem;
  color: #333;
  font-weight: bold;
}

.locacion-container {
  
  margin: 0 auto;
  display: flex;
  height: 100%;
  overflow: hidden;
}

.locacion-info {
  text-align: center;
  color: rgb(0, 0, 0);
  padding: 35px 25px;
  min-height: 320px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 80px;
}

.locacion-info h3 {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  color: #F201B7;
}

.venue-image{
  height: 100%;
  object-fit:fill;
}

.venue-name {
  font-family: "guildhall", sans-serif;
  font-size: 20px;
  margin: 10px 0;
  
}

.venue-name2 {
  font-family: "guildhall", sans-serif;
  font-size: 28px;
  margin: 10px 0;
  
}

.venue-address {
  font-size: 14px;
  margin: 0.5rem 0;
  opacity: 0.9;
  font-family: "Inter", sans-serif;
  
}

.venue-details {
  font-size: 0.95rem;
  margin-top: 1.5rem;
  opacity: 0.9;
}

.map-container {
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.icon-image{
  width: 50px;
  position: relative;
  top: -20px;
}


@media (min-width: 1000px) {
  .graffiti-container{
    width: 50%;
    overflow-x: visible;
  }
  .graffitiTag-container{
    width: 50%;
  }
  .graffitiTag{
    width: 600px;
    height: auto;
    left: 15vw;
  }
  .graffiti1{
    left: 18vw;
    width: 14vw;
    max-width: 120px;
    margin-bottom: 10%;
  }
  .graffiti2{
    right: 16vw;
    width: 15vw;
    max-width: 160px;
  }
  .venue-address{
    font-size: 16px;
    width: 75%;
  }

  .venue-name2 {
    font-size: 34px;
  }
  .venue-name {
    font-size: 22px;
  }
  .map-container {
  width: 100%;
  
  }

  .venue-image{
    width: 100%;
    height: 100%;
  }
  .locacion-info{
    width: 100%;
  }
  .locacion-section{
  height: 700px;
  }
}