.locacion-section {
  width: 100%;

  background: white;
  text-align: center;
}

.locacion-section h2 {
  font-size: 2.5rem;
  margin-bottom: 3rem;
  color: #333;
  font-weight: bold;
}

.locacion-container {
  max-width: 1000px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

@media (max-width: 768px) {
  .locacion-container {
    grid-template-columns: 1fr;
  }
}

.locacion-info {
  text-align: center;
  color: rgb(0, 0, 0);
  padding: 26px;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.locacion-info h3 {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  color: #F201B7;
}

.venue-name {
  font-family: "guildhall-wide", sans-serif;
  font-size: 12px;
  font-weight: bold;
  margin: 10px 0;
  
}

.venue-address {
  font-size: 14px;
  margin: 0.5rem 0;
  opacity: 0.9;
  font-family: "Inter", sans-serif;
}

.venue-details {
  font-size: 0.95rem;
  margin-top: 1.5rem;
  opacity: 0.9;
}

.map-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon-image{
  width: 50px;
  position: relative;
  top: -20px;
}

