.mainhost-section {
  width: 100%;
  background: #fff;
  text-align: center;
}

.mainhost-section h2 {
  font-size: 24px;
  
  color: #333;
  font-weight: bold;
}

.mainhost-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 100%;
  margin: 0 auto;
  position: relative;
  width: 100%;
}


.barrios2-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  width: 100%;
  margin: 0 auto;
  width: 100%;
}

.mainhost-image {
  max-width: 100%;
  height: auto;
  border-radius: 12px;
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.15);
  transition: transform 0.3s ease;
}

.mainhost-image:hover {
  transform: scale(1.05);
}

.mainhost-text {
  font-size: 28px;
  color: #ffffff;
  font-weight: bold;
  position: relative;
  top: -42px;
}

.heighModifier{
  height: 100vw;
}

@media screen and (max-width: 400px) {
  .heighModifier{
  height: 80vw;
}
}