.mainhost-section {
  width: 100%;
  background: #fff;
  text-align: center;
}

.mainhost-section h2 {
  font-size: 24px;
  
  color: #333;
  font-weight: bold;
}

.mainhost-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 100%;
  margin: 0 auto;
  position: relative;
  width: 100%;
}


.barrios2-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  width: 100%;
  margin: 0 auto;
  width: 100%;
}

.mainhost-image {
  max-width: 100%;
  height: auto;
  border-radius: 12px;
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.15);
  transition: transform 0.3s ease;
}

.mainhost-image:hover {
  transform: scale(1.05);
}

.mainhost-text {
  font-family: "guildhall-wide", sans-serif;
  font-size: 20px;
  color: #ffffff;
  font-weight: bold;
  position: relative;
  top: -42px;
  line-height: 40px;
}

.heighModifier{
  height: 125vw;
  margin-top: 0vw;
}

.mainhost-background{
  height: auto;
  width: 100%;
}

.main-host-option-selected{
  background-image: url("../../assets/Fondo.png") !important;
  color: white !important;
  height: 40px;
  padding-top: 8px;
  width: 80px;
  z-index: 10 !;
}

.main-host-option-selected:hover{
  background-image: url("../../assets/Fondo.png") !important;
  color: white !important;
}

.main-host-option-unselected{
  border: 2px solid transparent !important;
  height: 50px;
  width: 112px;
}




.mainhost-words{
  display: flex;
  flex-direction: row;
  gap: 5vw;
  position: absolute;
  bottom: -7.5%;
}

@media screen and (max-width: 400px) {
  
.mainhost-words{
  bottom: -10%;
  gap: 0px;
}
}


@media screen and (min-width: 1001px) {
  
  .heighModifier{
    height: 36vw;
    width: auto;
    margin-top: -20px;
  }

  .mainhost-background{
    height: 50vw;
    object-fit: cover;
  }
  .main-host-option-unselected{
    height: 80px;
    width: 200px;
  }
  .mainhost-text{
    top: -60px;
    font-size: 30px;
  }

  .mainhost-words{
    bottom: -15%;
  }
}

