.como-participar-section {
  width: 100%;
  padding: 4rem 0rem;
  background: #1D1D1D;
  text-align: center;
  overflow-y: visible;
}

.como-participar-section h2 {
  font-size: 2.5rem;
  margin-bottom: 3rem;
  color: white;
  font-weight: bold;
}

.participar-cards-container {
  display: flex;
  overflow-x: overlay ;
  flex-direction: row;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
  max-width: 1000px;
  margin: 0 auto;
  overflow-y: visible;
  padding-top: 16px;
}

.title-participate{
  color: yellow;
  font-size: 28px;
  
}

.text-participate{
  color: white;
  font-size: 14px;
  padding-top: 26px;
  padding-bottom: 26px;
}

.card-text-participate{
  color: #CCCCCC;
  font-size: 14px;
  padding-top: 0px;
}

.participar-card {
  background: white;
  border-radius: 8px;
  padding: 2rem;
  transition: all 0.3s ease;
  overflow-y: visible;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.participar-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25);
}

.card-icon {
  font-size: 3rem;
  color: #667eea;
  
}

.participar-card h3 {
  font-size: 1.5rem;
  color: #333;
  margin: 1rem 0;
  font-weight: bold;
}

.participar-card p {
  color: #666;
  line-height: 1.6;
}
