.como-participar-section {
  width: 100%;
  padding: 4rem 0rem;
  text-align: center;
  overflow-y: visible;
}

.como-participar-section h2 {
  font-size: 2.5rem;
  margin-bottom: 3rem;
  color: white;
  font-weight: bold;
}

.participar-cards-container {
  display: flex;
  overflow-x: overlay ;
  flex-direction: row;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 16px;
  max-width: 1000px;
  margin: 0 auto;
  overflow-y: visible;
  padding-top: 16px;
  scrollbar-width: none;
}

.title-participate{
  color: #EDCC00;
  font-size: 22px;
  padding-bottom: 16px;
  font-family: "guildhall-wide", sans-serif;
}

.text-participate{
  color: white;
  font-size: 14px;
  font-weight: 200;
  font-family: "Inter", sans-serif;
  padding-top: 32px !important;
  padding-bottom: 48px;
}

.card-text-participate{
  color: #ffffff;
  font-size: 14px;
  padding-top: 0px;
  font-family: "Inter", sans-serif;
  text-align: left;
  padding-top: 16px;
}

.participar-card {
  background: #484848;
  border: #707070 solid 0.5px;
  border-radius: 35px;
  padding: 2rem;
  transition: all 0.3s ease;
  overflow-y: visible;
  min-width: 300px;
  min-height: 400px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  -webkit-border-radius: 35px;
  -moz-border-radius: 35px;
  -ms-border-radius: 35px;
  -o-border-radius: 35px;
}

.participar-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25);
}

.card-icon {
  font-size: 3rem;
  color: #667eea;
  
}

.participar-card h3 {
  font-size: 1.5rem;
  color: #333;
  margin: 1rem 0;
  font-weight: bold;
}

.imageCard-participate{
  width: 100%;
}
