.premio-section {
  width: 100%;
  background: #fff;
  text-align: center;
}

.premio-section h2 {
  font-size: 2.5rem;
  margin-bottom: 2rem;
  color: #333;
  font-weight: bold;
}

.title-prize {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 1rem;
  color: #EDCC00;
  font-family: "guildhall-wide", sans-serif;
}
.text-prize {
  font-size: 16px;
  text-align: center;
  
  color: #ffffff;
    font-family: "Inter", sans-serif;
}

.premio-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 800px;
  margin: 0 auto;
  flex-direction: column;
  padding-left: 45px;
  padding-right: 45px;
  position: relative;
  overflow: hidden;
}

.premio-container2{
display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  flex-direction: column;
  padding-left: 45px;
  padding-right: 45px;
}

.premio-container3{
display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  flex-direction: column;
  padding-left: 45px;
  padding-right: 45px;
  min-height: 400px;
}

@media screen and (max-width: 472px) {
  .premio-container2 {
    background-size: auto 100% !important;
  }
}

@media screen and (max-width: 429px) {
  .premio-container3 {
    min-height: 183px;
    background-size: auto 100% !important;
  }
}

@media screen and (min-width: 700px) {
  .premio-container2 {
    background-size: 100% auto  !important;
  }
}

.premio-image {
  max-width: 100%;
  height: auto;
  border-radius: 12px;
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.15);
  transition: transform 0.3s ease;
}

.premio-image:hover {
  transform: scale(1.05);
}
