.register-text{
  color: rgb(255, 230, 0);
  font-size: 12px;
}

.register-container{
  position: fixed;
  right: 0px;
  bottom: 5%;
  height: 50px;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 20;
}