.register-text{
  color: rgb(255, 230, 0);
  font-size: 12px;
}

.register-container{
  position: fixed;
  right: 0px;
  bottom: 5%;
  height: 50px;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 20;
}

.register-image{
  height: 70px;
  position: relative;
  width: auto;
  left: 50px;
  
}

.register-highlight{
  height: 55px;
  position: absolute;
  width: auto;
  right: 5px;
  opacity: 0;
  transition: opacity 0.3s ease;
  pointer-events: none;
  z-index: 1;
  top: -30px;
  width: 80%;
  -webkit-transition: opacity 0.3s ease;
  -moz-transition: opacity 0.3s ease;
  -ms-transition: opacity 0.3s ease;
  -o-transition: opacity 0.3s ease;
}

.register-container:hover .register-highlight{
  opacity: 1;
}

.register-container:hover .register-text{
  color: white;
}


@media (max-width: 1000px) {
  .register-highlight{
    height: 35px;
    top: -10px;
    right: -30px;
  }

}

.register-text{
  position: relative;
  font-size: 10px;
  left: 27.5px;
  top: -52.5px;
  transition: color 0.3s ease;
  z-index: 2;
}


@media (min-width: 1001px) {
  .register-image{
    height: 105px;
    left: 20px;
  }
  .register-text{
    font-size: 16px;
    left: -45px;
    top: -80px;
    text-align: right;
    width: 100%;
  }
}