.register-text{
  color: rgb(255, 230, 0);
  font-size: 12px;
}

.register-container{
  position: fixed;
  right: 0px;
  bottom: 5%;
  height: 50px;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 20;
}

.register-image{
  height: 70px;
  position: relative;
  width: auto;
  left: 50px;
}

.register-text{
  position: relative;
  color: white;
  font-size: 10px;
  left: 27.5px;
  top: -52.5px;

}


@media (min-width: 1001px) {
  .register-image{
    height: 90px;
    left: 60px;
  }
  .register-text{
    font-size: 14px;
    left: 40px;
    top: -69px;
  }
}