.home-page {
  width: 100%;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

.image-band1{
  position: relative;
  width: 100%;
  height: auto;
  max-height: 200px;
  top: -14vw;
  left: 0px;
}

.image-band2{
  position: relative;
  width: 100%;
  height: auto;
  max-height: 200px;
  top: -8vw;
  left: 0px;
}

.image-band3{
  position: relative;
  width: 100%;
  height: auto;
  max-height: 200px;
  top: -8vw;
  left: 0px;
}

.image-band4{
  position: relative;
  width: 100%;
  height: auto;
  max-height: 200px;
  top: -15vw;
  left: 0px;
  z-index: 11;
}

.image-band5{
  position: relative;
  width: 100%;
  height: auto;
  max-height: 200px;
  top: 200px;
  left: 0px;
  z-index: 11;
}

.participate-handler{
  position: relative;
  width: 100%;
  height: auto;
  max-height: 100px;
  top: -200px;
  left: 0px;
  z-index: 11;
}

@media (min-width: 1001px) {
  .image-band1{
    top: -5vw;
  }

  .image-band2{
    top: -10vh;
  }

  .image-band4{
    top: -3.5vw;
  }

    .image-band5{
    top: 18vw;
  }
  .participate-handler{
    top: -400px;
  }
}