.instructions-page {
  background-image: url('../assets/instrucctions/IMG_Texture_Instrucciones_PP.png');
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
    flex-direction: column;
}

.instructions-text{
  font-size: 14px;
  text-align: left;
  padding-bottom: 30px;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.instructions-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  padding: 20px 5px;
  padding-top: 80px;
}

.instructions-image {
  max-height: calc(100vh - 220px);
  height: auto;

}